.location-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.location-popup-box {
  background: white;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.location-popup-box h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.location-popup-box input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
}

.save-btn,
.close-btn {
  padding: 0.5rem 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.save-btn {
  background-color: #f97316;
  color: white;
}

.close-btn {
  background-color: #d63031;
  color: white;
}
